{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-for-admin">
        <!--Main layout-->
        <main class="pt-5 row">
            <div class="container-fluid mt-5 col-lg-9">
                <h2>Page des commentaires</h2>
            </div>
        </main>
        <!--Main layout-->
    </div>

{% endblock %}



