{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}-Admin{% endblock %}

{% block body %}
    <div class="container-for-admin">
        <!--Main layout-->
        <main class="pt-5 row">
            <div class="container-fluid mt-5 col-lg-9">
                <h1>Administration</h1>
                <!--Grid row-->
                <div class="row wow fadeIn">
                    <!--Grid column-->
                    <div class="col-lg-12 mb-4">
                        <small class="text-danger">Que des readAll ici</small>
                        <!--Card-->
                        <div class="card">
                            <!--Card content-->
                            <div class="card-body row justify-content-center">
                                <!--Card-->
                                <div class="card bg-primary mt--4 col-lg-3 mr-2 pt-5 pb-5" >
                                    <!--Card content-->
                                    <div class="card-body text-center">
                                        <i class="fa fa-user text-white" style="font-size: 50px"></i>
                                    </div>
                                    <div class="text-center">
                                        <p class="text-white" style="font-size: 30px">31</p>
                                    </div>
                                    <a href="{{ path('admin_members') }}" class="btn btn-indigo">Voir</a>
                                </div>
                                <!--/.Card-->
                                <!--Card-->
                                <div class="card bg-primary mt--4 col-lg-3 mr-2 pt-5 pb-5" >
                                    <!--Card content-->
                                    <div class="card-body text-center">
                                        <i class="fa fa-comment text-white" style="font-size: 50px"></i>
                                    </div>
                                    <div class="text-center">
                                        <p class="text-white" style="font-size: 30px">136</p>
                                    </div>
                                    <a href="{{ path('admin_comments') }}" class="btn btn-indigo">Voir</a>
                                </div>
                                <!--/.Card-->
                                <!--Card-->
                                <div class="card bg-primary mt--4 col-lg-3 mr-2 pt-5 pb-5">
                                    <!--Card content-->
                                    <div class="card-body text-center">
                                        <i class="fas fa-snowboarding text-white" style="font-size: 50px"></i>
                                    </div>
                                    <div class="text-center">
                                        <p class="text-white" style="font-size: 30px">88</p>
                                    </div>
                                    <a href="{{ path('admin_complete_trick') }}" class="btn btn-indigo">Voir</a>
                                </div>
                                <!--/.Card-->
                            </div>

                        </div>
                        <!--/.Card-->
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
                <div>
                    <h2>Les dernières figures ajoutés.</h2> <small class="text-danger">ReadAll limit 5</small>
                </div>
                <div class="row">
                    <!--Grid column-->
                    <article class="col-lg-4 col-md-12 mb-4">
                        <!--Card-->
                        <div class="card">
                            <!--Card image-->
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(72).jpg" class="card-img-top"
                                     alt="">
                                <a href="{{ path('tricks', {'id': '1'}) }}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Card title</h4>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                    card's content.</p>
                                <a href="{{ path('tricks', {'id': '1'}) }}" class="btn btn-indigo">Voir la figure</a>
                            </div>
                        </div>
                        <!--/.Card-->
                    </article>
                    <!--Grid column-->
                    <!--Grid column-->
                    <article class="col-lg-4 col-md-12 mb-4">
                        <!--Card-->
                        <div class="card">
                            <!--Card image-->
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(72).jpg" class="card-img-top"
                                     alt="">
                                <a href="{{ path('tricks', {'id': '1'}) }}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Card title</h4>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                    card's content.</p>
                                <a href="{{ path('tricks', {'id': '1'}) }}" class="btn btn-indigo">Voir la figure</a>
                            </div>
                        </div>
                        <!--/.Card-->
                    </article>
                    <!--Grid column-->
                    <!--Grid column-->
                    <article class="col-lg-4 col-md-12 mb-4">
                        <!--Card-->
                        <div class="card">
                            <!--Card image-->
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(72).jpg" class="card-img-top"
                                     alt="">
                                <a href="{{ path('tricks', {'id': '1'}) }}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Card title</h4>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                    card's content.</p>
                                <a href="{{ path('tricks', {'id': '1'}) }}" class="btn btn-indigo">Voir la figure</a>
                            </div>
                        </div>
                        <!--/.Card-->
                    </article>
                    <!--Grid column-->
                    <!--Grid column-->
                    <article class="col-lg-4 col-md-12 mb-4">
                        <!--Card-->
                        <div class="card">
                            <!--Card image-->
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(72).jpg" class="card-img-top"
                                     alt="">
                                <a href="{{ path('tricks', {'id': '1'}) }}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Card title</h4>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                    card's content.</p>
                                <a href="{{ path('tricks', {'id': '1'}) }}" class="btn btn-indigo">Voir la figure</a>
                            </div>
                        </div>
                        <!--/.Card-->
                    </article>
                    <!--Grid column-->
                    <!--Grid column-->
                    <article class="col-lg-4 col-md-12 mb-4">
                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(72).jpg" class="card-img-top"
                                     alt="">
                                <a href="{{ path('tricks', {'id': '1'}) }}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Card title</h4>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                    card's content.</p>
                                <a href="{{ path('tricks', {'id': '1'}) }}" class="btn btn-indigo">Voir la figure</a>
                            </div>
                        </div>
                        <!--/.Card-->
                    </article>
                    <!--Grid column-->
                    <!--Grid column-->
                    <article class="col-lg-4 col-md-12 mb-4">
                        <!--Card-->
                        <div class="card bg-indigo" style="height: 100%">
                            <!--Card content-->
                            <div class="card-body">
                                <h4 class="card-title" style="    max-width: 200px;  margin: 145px auto;">
                                    <a href="{{ path('admin_complete_trick') }}" class="btn btn-indigo">
                                        <span>Voir toutes les figures</span>
                                    </a>
                                </h4>
                            </div>

                        </div>
                        <!--/.Card-->
                    </article>
                    <!--Grid column-->
                </div>
            </div>
        </main>
        <!--Main layout-->
    </div>

{% endblock %}
