{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}-Tableau de bord{% endblock %}

{% block body %}
    <div class="container-for-admin">
        <!--Main layout-->
        <main class="pt-5 row">
            <div class="container-fluid mt-5 col-lg-9">
                {% if app.user and app.user.roles[0] is same as("ROLE_ADMIN") %}
                <a class="nav-link btn btn-warning" href="{{ path('admin') }}">Administration du site</a>
                {% endif %}
                <!-- Heading -->
                <nav class="card mb-4 wow fadeIn">
                    <!--Card content-->
                    <div class="card-body d-sm-flex justify-content-between">
                        <h4 class="mb-2 mb-sm-0 pt-1">
                            <a href="{{path('admin')}}">Dashboard</a>
                            <span>/</span>
                            <span>Home</span>
                        </h4>
                        <form class="d-flex justify-content-center">
                            <!-- Default input -->
                            <input type="search" placeholder="Type your query" aria-label="Search" class="form-control">
                            <button class="btn btn-primary btn-sm my-0 p" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>
                </nav>
                <!-- Heading -->
                <div class="row justify-content-between">
                    <h2>Les dernières figures ajoutés.</h2> <small class="text-danger">ReadAll limit 5</small>
                    <div>
                        <a href="{{ path('security_logout') }}" class="btn btn-danger">Déconnexion</a>
                        <a href="{{ path('dashboard_member_profil') }}" class="btn btn-indigo"><i class="fa fa-user text-white mr-2"></i>Modifier votre profil</a>
                    </div>
                </div>
                <div class="row">
                    <!--Grid column-->
                    <article class="col-lg-4 col-md-12 mb-4">
                        <!--Card-->
                        <div class="card bg-indigo ajouter-figure" style="height: 100%">
                            <div style="max-width: 200px; margin: 100px auto">
                                <i class="fas fa-plus-circle"></i>
                            </div>
                        </div>
                        <!--/.Card-->
                    </article>
                    <!--Grid column-->
                    <!--Grid column-->
                    <article class="col-lg-4 col-md-12 mb-4">
                        <!--Card-->
                        <div class="card">
                            <!--Card image-->
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(72).jpg" class="card-img-top"
                                     alt="image">
                                <a href="{{ path('tricks', {'id': '1'}) }}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Card title</h4>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                    card's content.</p>
                                <a href="{{ path('tricks', {'id': '1'}) }}" class="btn btn-indigo">Voir la figure</a>
                            </div>
                        </div>
                        <!--/.Card-->
                    </article>
                    <!--Grid column-->
                    <!--Grid column-->
                    <article class="col-lg-4 col-md-12 mb-4">
                        <!--Card-->
                        <div class="card">
                            <!--Card image-->
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(72).jpg" class="card-img-top"
                                     alt="image">
                                <a href="{{ path('tricks', {'id': '1'}) }}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Card title</h4>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                    card's content.</p>
                                <a href="{{ path('tricks', {'id': '1'}) }}" class="btn btn-indigo">Voir la figure</a>
                            </div>
                        </div>
                        <!--/.Card-->
                    </article>
                    <!--Grid column-->
                    <!--Grid column-->
                    <article class="col-lg-4 col-md-12 mb-4">
                        <!--Card-->
                        <div class="card">
                            <!--Card image-->
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(72).jpg" class="card-img-top"
                                     alt="image">
                                <a href="{{ path('tricks', {'id': '1'}) }}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Card title</h4>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                    card's content.</p>
                                <a href="{{ path('tricks', {'id': '1'}) }}" class="btn btn-indigo">Voir la figure</a>
                            </div>
                        </div>
                        <!--/.Card-->
                    </article>
                    <!--Grid column-->
                    <!--Grid column-->
                    <article class="col-lg-4 col-md-12 mb-4">
                        <!--Card-->
                        <div class="card">
                            <!--Card image-->
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(72).jpg" class="card-img-top"
                                     alt="image">
                                <a href="{{ path('tricks', {'id': '1'}) }}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Card title</h4>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                    card's content.</p>
                                <a href="{{ path('tricks', {'id': '1'}) }}" class="btn btn-indigo">Voir la figure</a>
                            </div>
                        </div>
                        <!--/.Card-->
                    </article>
                    <!--Grid column-->
                    <!--Grid column-->
                    <article class="col-lg-4 col-md-12 mb-4">
                        <!--Card-->
                        <div class="card">
                            <!--Card image-->
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(72).jpg" class="card-img-top"
                                     alt="image">
                                <a href="{{ path('tricks', {'id': '1'}) }}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Card title</h4>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                    card's content.</p>
                                <a href="{{ path('tricks', {'id': '1'}) }}" class="btn btn-indigo">Voir la figure</a>
                            </div>
                        </div>
                        <!--/.Card-->
                    </article>
                    <!--Grid column-->
                </div>
            </div>
        </main>
        <!--Main layout-->
    </div>
{% endblock %}
