{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container-for-admin">
        <!--Main layout-->
        <main class="pt-5 mb-5">
            <div class="container-fluid mt-5 mb-5 col-lg-9">
                <!-- Heading -->
                <nav class="card mb-4 wow fadeIn">
                    <!--Card content-->
                    <div class="card-body d-sm-flex justify-content-between">
                        <h4 class="mb-2 mb-sm-0 pt-1">
                            <a href="{{path('dashboard')}}">Dashboard</a>
                            <span>/</span>
                            <span>Profil</span>
                        </h4>
                        <form class="d-flex justify-content-center">
                            <!-- Default input -->
                            <input type="search" placeholder="Type your query" aria-label="Search" class="form-control">
                            <button class="btn btn-primary btn-sm my-0 p" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>
                </nav>
                <!-- Heading -->
                <!--Grid row-->
                <article class="wow fadeIn">
                    <h2>Modifier votre profil</h2>
                    <div class="row"></div>
                </article>
                <!--Grid row-->
            </div>
        </main>
        <!--Main layout-->
    </div>
{% endblock %}


