<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SSJ-Tricks{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
    <!-- Personnal CSS -->
    <link rel="stylesheet" href="{{ asset('build/app.css') }}" type="text/css"/>
</head>
<body>
<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="{{ path('home') }}">
            <strong>SSJ Tricks</strong>
        </a>
        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('login_ssj') }}">Authentification</a>
                </li>
            </ul>
            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">

                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link border border-light rounded"
                        >
                <span class="text-white">
                  <i class="fa fa-user"></i>
                Vous êtes connectés en tant que: <strong class="text-primary">{{ app.user.username }}</strong>
              </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border btn-info border-light rounded ml-1" href="{{ path('dashboard') }}">Votre espace</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
<!-- Navbar -->
{% block body %}{% endblock %}
<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">
    <!--Call to action-->
    <div class="pt-4">
        <a class="btn btn-outline-white" href="https://mdbootstrap.com/docs/jquery/getting-started/download/"
           role="button">Download MDB
            <i class="fas fa-download ml-2"></i>
        </a>
        <a class="btn btn-outline-white" href="https://mdbootstrap.com/education/bootstrap/" role="button">Start
            free tutorial
            <i class="fas fa-graduation-cap ml-2"></i>
        </a>
    </div>
    <!--/.Call to action-->
    <hr class="my-4">
    <!-- Social icons -->
    <div class="pb-4">
        <a href="https://www.facebook.com/mdbootstrap">
            <i class="fab fa-facebook-f mr-3"></i>
        </a>
        <a href="https://twitter.com/MDBootstrap">
            <i class="fab fa-twitter mr-3"></i>
        </a>
        <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4">
            <i class="fab fa-youtube mr-3"></i>
        </a>
        <a href="https://plus.google.com/u/0/b/107863090883699620484">
            <i class="fab fa-google-plus-g mr-3"></i>
        </a>
        <a href="https://dribbble.com/mdbootstrap">
            <i class="fab fa-dribbble mr-3"></i>
        </a>
        <a href="https://pinterest.com/mdbootstrap">
            <i class="fab fa-pinterest mr-3"></i>
        </a>
        <a href="https://github.com/mdbootstrap/bootstrap-material-design">
            <i class="fab fa-github mr-3"></i>
        </a>
        <a href="http://codepen.io/mdbootstrap/">
            <i class="fab fa-codepen mr-3"></i>
        </a>
    </div>
    <!-- Social icons -->
    <!--Copyright-->
    <div class="footer-copyright py-3">
        © 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com </a>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
